name: Per-architecture test

on:
  pull_request:

concurrency:
  group: "${{ github.workflow }} @ ${{ github.ref }}"
  cancel-in-progress: true

jobs:
  frontend:
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version

      - run: cd frontend && npm ci --ignore-scripts
      - run: cd frontend && npm run generate:graphql
      - run: cd frontend && npm run build

      - uses: actions/upload-artifact@v5
        with:
          name: frontend
          path: frontend/dist
          if-no-files-found: error
          retention-days: 1

  test-linux:
    name: Test Linux
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        goos: [linux]
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: go.mod

      - run: go generate ./...

      - run: docker run --privileged --rm tonistiigi/binfmt --install all

      - uses: Wandalen/wretry.action@master
        with:
          command: CGO_ENABLED=0 go test -p 2 -v ./...
          attempt_limit: 3
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: "0"
