name: Release

on:
  push:
    tags:
      - "v*"
    branches:
      - main

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: false

jobs:
  frontend:
    permissions:
      contents: read
      packages: write
      security-events: write
    uses: USA-RedDragon/reusable-actions/.github/workflows/docker-ci.yaml@f9e2facea1c9b9e41d097ff7288605d5afefc581 # v2.0.13
    with:
      push: true
      image-name: usa-reddragon/astro-processing-frontend
      dockerfile: docker/frontend/Dockerfile
      # beta for main push, unset otherwise
      version: ${{ github.ref_name == 'main' && 'beta' || '' }}

  release:
    name: Release
    permissions:
      contents: write
      packages: write
    uses: USA-RedDragon/reusable-actions/.github/workflows/goreleaser.yaml@f9e2facea1c9b9e41d097ff7288605d5afefc581 # v2.0.13
    with:
      beta: ${{ github.ref_name == 'main' }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
